{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thread>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thread>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction["symbol"] }}</td>
                <td>{{ transaction["name"] }}</td>
                <td>{{ transaction["totalShares"] }}</td>
                <td>{{ transaction["price"]) }}</td>
                <td>{{ transaction["transacted"]) }}</td>
            </tr>
            {% endfor %}

            <tr>
                <td>CASH</td>
                <td colsapn="3"></td>
                <td>{{ usd(cash) }}</td>
            </tr>
        </tbody>
        <tfoot>
            <td colspan="4"></td>
            <td><strong>{{ usd(total) }}</strong></td>
        </tfoot>
    </table>
{% endblock %}